.places {
    display: grid;
    grid-gap: 81px;
    margin: 0px auto 92px auto;
    width: calc(100% - (148px * 2));
}

@media screen and (max-width: 1024px) {
    .places {
        grid-gap: 80px;
        width: calc(100% - (48px * 2));
    }
}

@media screen and (max-width: 768px) {
    .places {
        grid-gap: 73px;
        margin: 0px auto 89px auto;
        width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 680px) {
    .places {
        grid-gap: 48px;
        margin: 0px auto 64px auto;
        width: 100%;
    }
}