.cover__subtitle {
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    z-index: 1;
    max-width: 320px;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: calc(100% - (16px *2));
        font-size: 14px;
        line-height: 16px;
    }
}