.header {
    margin: 34px auto 58px auto;
    width: calc(100% - (148px * 2));
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header {
        margin: 34px auto 50px auto;
        width: calc(100% - (48px * 2));
    }
} 
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin: 34px auto 50px auto;
        width: calc(100% - (24px * 2));
    }
} 

@media screen and (min-width: 320px ) and (max-width: 768px) {
    .header {
        margin: 34px auto 50px auto;
        width: calc(100% - (16px * 2));
    }
} 