.place__paragraph {
    font-size: 18px;
    font-weight: normal;
    color: var(--white);
    line-height: 163%;
    margin: 0px 0px 27px 0px;
}

.place__paragraph:last-of-type {
    margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0px auto 30px auto;
    }
} 

@media screen and (max-width: 680px) {
    .place__paragraph, .place__paragraph:last-of-type  {
        margin: 0px auto 25px auto;
        width: calc(100% - (16px * 2));
    }
} 