.menu__item {
    align-self: flex-end;
    margin-right: 18px;
}

.menu__item:last-of-type {
    margin-right: 0px;
}

/* @media screen and (max-width: 768px) {
    .menu__item {
        align-self: flex-start;
        margin-right: 0px;
    }
}  */