.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-gap: 48px 28px;
        grid-template-columns: 40% 1fr;
    }
}

@media screen and (max-width: 680px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
}