.footer {
    width: calc(100% - (48px * 2));
    margin: 0px auto 24px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 660px) {
    .footer {
        display: block;
        margin: 0px 136px 24px 16px;
        width: calc(100% - 16px - 136px);
    }
}