.footer {
    width: calc(100% - (48px * 2));
    margin: 0px auto 24px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 660px) {
    .footer {
        display: block;
        width: calc(100% - (16px * 2));
    }
}